<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quejas</title>
</head>
<body>
<div th:replace="~{nav::nav}"></div>
<h1>Lista de Quejas</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Titulo</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Status</th>
        <th scope="col">Cliente</th>
        <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody th:each="complain:${complains}">
    <tr>
        <th th:text="${complain.id}" scope="row"></th>
        <td th:text="${complain.title}">Mark</td>
        <td th:text="${complain.description}">Otto</td>
        <td th:text="${complain.status}">@mdo</td>
        <td th:text="${complain.user.firstName}">@mdo</td>
        <td >
            <button>Editar</button>
            <button>Eliminar</button>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>